#smaller{
  width: 55%;
}

.initially_hidden{
  display: none;
}

.clickable{
  color: skyblue;
}

.clickable:hover{
  cursor: pointer;
  text-decoration: underline;
}

p{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

body{
  text-align: center;
  background-color: #926239;
}

.side-bar{
  float: right;
  position: fixed;
}

.side-bar-button .btn{
  margin: 70px 0px 0px 20px;
  color: #fff;
}

.btn-initial{
  background-color: #000;
}

.inverted {
  background-color: #111;
  color: #eee;
}

.btn-inverted{
  background-color: #926239;

}
